spring:
  config:
    activate:
      on-profile: prod
  jpa:
    properties:
      hibernate:
        show-sql: true
        ddl-auto: update
        hbm2ddl:
          auto: update
        format_sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/oneul?serverTimezone=UTC&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  redis:
    host: redis
    port: 6379

server:
  servlet:
    session:
      timeout: 60

logging:
  level:
    web: DEBUG
    org:
      hibernate:
        SQL: DEBUG

log-in-page: www.naver.com